#content .learn_head {
	background: #72B4FD;
}

#content .learn_head .mes_me {
	width: 100%;
	text-align: center;
	padding: 1.5rem 0rem 0.2rem 0rem;
}

img {
	width: 5rem;
	height: 5rem;
	vertical-align: middle;
	border-radius: 2.5rem;
}

#content .learn_head .name {
	width: 100%;
	/*background: blue;*/
	text-align: center;
	padding: 0.1rem 0rem;
	color: white;
}

#content .learn_head .learn_state {
	width: 100%;
	/* background: blue; */
	padding-top: 1rem;
	padding-bottom: 3rem;
	color: white;
	font-size: 0.8rem;
}

#content .learn_head .learn_state div:nth-child(1) {
	float: left;
	width: 33%;
	color: white;
	text-align: center;
}

#content .learn_head .learn_state div:nth-child(2) {
	float: left;
	width: 33%;
	color: white;
	border-left: 1px solid white;
	border-right: 1px solid white;
	text-align: center;
}

#content .learn_head .learn_state div:nth-child(3) {
	float: left;
	width: 33%;
	color: white;
	text-align: center;
}

#content .learn_head .learn_state span {
	display: block;
}
#content .learn_news {
	border-bottom: 1px solid #E7E7E7;
	height: 3rem;
	line-height: 3rem;
	width: 100%;
}
#content .learn_news div {
	float: left;
	width: 40%;
	text-align: center;
	margin-left: 10%;
}
  
#content .learn_news .type_learning {
	margin-left: 6%;
	margin-right: 4%;

}
#content .learn_news .type_complete {
	margin-left: 4%;
}

#content .learn_course_ing .vide_me1{
	height: 10rem;
    margin: 1rem;
    margin-bottom: 0;
    background: #767676;
}
#content .learn_course_ing .ic_me_title{
	height: 2rem;
	line-height: 2rem;
}

#content .learn_course_ing .ic_me_title span:nth-child(1) {
	float: left;
	padding-left: 1rem;
}

#content .learn_course_ing .ic_me_title span:nth-child(2) {
	float: right;
	padding-right: 1rem;
}
#content .learn_course_list .list{
	padding:3rem;
}
