/*公共样式*/
input,button,select,textarea{outline:none;}
* {padding: 0px;margin: 0px;}
form,select,input,img {border: 0;margin: 0px;padding: 0px;}
input,img {vertical-align: middle;}
li {list-style: none;}
a {text-decoration: none;}
body,html {height: auto;margin: 0 auto;min-width: 20rem;max-width: 35rem;}

/*首页index的样式*/
#content {width: auto;height: 100%;margin: 0 auto;}
#content header {height: 16%;}
#content header .learn_navWrap {width: 100%;height: 6rem;}
#content header .learn_navWrap ul {width: 100%;height: 100%;}
#content header .learn_navWrap ul li {float: left;height: 100%;width: 25%;display: flex;align-items: center;justify-content: center;}
#content header .learn_navWrap ul li a {width: 100%;height: 100%;color: black;text-align: center;}

#content header .learn_navWrap ul li .navWrap_img {	height: 38%;width: 38%;	display: inline-block;margin-top: 1rem;}
#content header .learn_navWrap ul li .img_1 {background: url(../img/study3.png) no-repeat;background-size: 100% 100%;}
#content header .learn_navWrap ul li .img_2 {background: url(../img/study2.png) no-repeat;background-size: 100% 100%;}
#content header .learn_navWrap ul li .img_3 {background: url(../img/study.png) no-repeat;background-size: 100% 100%;}
#content header .learn_navWrap ul li .img_4 {background: url(../img/study4.png) no-repeat;background-size: 100% 100%;}
#content header .learn_navWrap ul li .ic_lession {display: block;width: 100%;margin-top: 0.2rem;}

#content .line_one {height: 1rem;width: 100%;background: #EFEFEF;}

#content section .iconLearn_head {height: 3rem;line-height: 3rem;}
#content section .iconLearn_head span:nth-child(1) {float: left;padding-left: 1rem;}
#content section .iconLearn_head span:nth-child(2) {float: right;padding-right: 1rem;}
#content section .iconLearn_head span:nth-child(2) a{color: #5F709A;}
#content section .fa-viadeo1,.fa-viadeo2 {height: 14rem;margin: 0 auto;padding: 1rem;padding-bottom: 0;margin-top: 0.5rem;}
#content section .fa-viadeo1 .video1,.video2 {background: #767676;height: 100%;}
#content section .course_title {height: 3rem;line-height: 3rem;}
#content section .course_title span:nth-child(1) {float: left;padding-left: 1rem;}
#content section .course_title span:nth-child(2) {float: right;padding-right: 1rem;}

/*选修课-页面的样式*/
#content .header_xuan{background: #F2F3F5;height: 4rem;line-height: 2rem;position: fixed;top: 0;left: 0;width: 100%;z-index: 999;}
#content .header_xuan span{float: right;display: block;padding: 4% 0.7rem 3% 0.7rem;}
#content .header_xuan span:nth-child(1){float: left;}
#content .header_xuan span:nth-child(1):after{display: inline-block;width: 0.6rem;height: 0.4rem;margin-left: 0.1rem;content: "";background: url(../img/arrow.png) no-repeat;background-size: 100% 100%;vertical-align: middle;}
#content .video_xuan .vide_xuan1{height: 13rem;margin: 1rem;margin-bottom: 0;background: #767676; margin-top: 5rem;}

#content .video_xuan .ic_xuan_title{height: 2rem;line-height: 2rem;}
#content .video_xuan .ic_xuan_title span:nth-child(1){float: left;padding-left: 1rem;}
#content .video_xuan .ic_xuan_title span:nth-child(2){float: right;padding-right: 1rem;}
#content .video_xuan .vide_xuan2{height: 13rem;margin: 1rem;margin-bottom: 0;background: #767676;}

#content .content_xuan{width: 100%;height: 92%; margin-top: 4rem;}
#content .content_xuan .cx_left{float: left;width: 30%;height: 77rem;background: #EEEEEE;text-align: center;}
#content .content_xuan .cx_left ul li{list-style: none;padding: 0.7rem 0;border-top: 1px solid #E1E1E1;display: block;}
#content .content_xuan .cx_right{float: left;width: 70%;height: 100%;}
#content .content_xuan .cx_right div{width: 100%;height: 100%;}
#content .content_xuan .cx_right div ul{margin-left: 1rem;}
#content .content_xuan .cx_right div ul li{list-style: none;padding: 0.7rem 0rem;float: left;width: 45%;color: #5E5E5E;font-size: 0.9rem;}
#content .content_xuan .cx_right div ul li span{padding: 0.1rem 0.2rem;border-radius: 0.4rem;}
#content .content_xuan .cx_bottom{border-top: 1px solid #D6D5D6;position: absolute;bottom: 0;width: 100%;height: 4rem;min-width: 20rem;max-width: 35rem;background: #FFFFFF;}
#content .content_xuan .cx_bottom a{float: left;display: block;border: 1px solid #d6d5d6;color: #333;background: #FFFFFF;width: 45%;text-align: center;border-radius: 0.7rem;height: 2.6rem;line-height: 2.6rem;margin-top: 0.7rem;}
#content .content_xuan .cx_bottom .btn_left{margin-left: 3.5%;margin-right: 1.5%;}
#content .content_xuan .cx_bottom .btn_right{margin-top: 0.7rem;margin-left: 1.5%;}

/*必修课-页面样式*/
#content .header_mustlearn{background: #F2F3F5;height: 4rem;line-height: 2rem;position: fixed;top: 0;left: 0;width: 100%;z-index: 999;}
#content .header_mustlearn span{float: right;display: block;padding: 4% 0.7rem 3% 0.7rem;}
#content .header_mustlearn span:nth-child(1){float: left;}
#content .header_mustlearn span:nth-child(1):after{display: inline-block;width: 0.6rem;height: 0.4rem;margin-left: 0.1rem;content: "";background: url(../img/arrow.png) no-repeat;background-size: 100% 100%;vertical-align: middle;}
#content .video_mustlearn{margin-top: 5rem;}
#content .video_mustlearn .ic_mustlearn_title span:nth-child(1){float: left;padding-left: 1rem;}
#content .video_mustlearn .ic_mustlearn_title span:nth-child(2){float: right;padding-right: 1rem;}
#content .video_mustlearn .vide_mustlearn2{height: 13rem;margin: 1rem;margin-bottom: 0;background: #767676;}
#content .content_mustlearn{width: 100%;height: 90%;margin-top: 4rem;}
#content .content_mustlearn .cx_left{float: left;width: 30%;height: 77rem;background: #EEEEEE;text-align: center;}
#content .content_mustlearn .cx_left ul li{list-style: none;padding: 0.7rem 0;border-top: 1px solid #E1E1E1;display: block;}
#content .content_mustlearn .cx_right{float: left;width: 70%;height: 100%;}
#content .content_mustlearn .cx_right div{width: 100%;height: 100%;}
#content .content_mustlearn .cx_right div ul{margin-left: 1rem;}
#content .content_mustlearn .cx_right div ul li{list-style: none;padding: 0.7rem 0rem;float: left;width: 45%;color: #5E5E5E;font-size: 0.9rem;}
#content .content_mustlearn .cx_right div ul li span{padding: 0.1rem 0.2rem;border-radius: 0.4rem;}

#content .video_mustlearn .mustlearn_list{margin-top: .32rem;}
#content .video_mustlearn .mustlearn_list .course_item{float: left;position: relative;width: 48%;height: 10rem;margin-left: .32rem;margin-bottom: 0.8rem;box-shadow: 0 0 10px 0 rgba(7, 17, 27, .1);color: #2b333b;}
#content .video_mustlearn .mustlearn_list .course_item a{display: block;height: 100%;color: inherit;background-color: #fff;border-radius: 0.5rem;overflow: hidden;}
#content .video_mustlearn .mustlearn_list .course_item .surface{width: 100%;height: 2.53333333rem;vertical-align: middle;}
#content .video_mustlearn .mustlearn_list .course_item .surface{width: 100%;height: 60%;vertical-align: middle;}
#content .video_mustlearn .mustlearn_list .course_item .desc-box{position: relative;margin-top: 0.4rem;margin-left: 0.32rem;margin-right: 0.32rem;}
#content .video_mustlearn .mustlearn_list .course_item .desc-box .h2{font-size: 0.9rem;}
#content .video_mustlearn .mustlearn_list .course_item .desc-box .detail{font-size: 0.5rem;margin-top: 0.5rem;}
#content .video_mustlearn .mustlearn_list .course_item .desc-box .person-num em{margin-left: .06666667rem;margin-right: .06666667rem;}
#content .video_mustlearn .mustlearn_list .course_item .desc-box .person-num{color: #b7bbbf;}
em{font-style: normal;}

#content .content_mustlearn .cm_bottom{border-top: 1px solid #D6D5D6;position: absolute;bottom: 0;width: 100%;height: 10rem;background: #FFFFFF;/**/}
#content .content_mustlearn .cm_bottom{border-top: 1px solid #D6D5D6;position: absolute;bottom: 0;width: 100%;height: 4rem;min-width: 20rem;max-width: 35rem;}
#content .content_mustlearn .cm_bottom .btn_left{margin-left: 3.5%;margin-right: 1.5%;}
#content .content_mustlearn .cm_bottom .btn_right{margin-top: 0.7rem;margin-left: 1.5%;}
#content .content_mustlearn .cm_bottom a{float: left;display: block;border: 1px solid #d6d5d6;color: #333;background: #FFFFFF;width: 45%;text-align: center;border-radius: 0.7rem;height: 2.6rem;line-height: 2.6rem;margin-top: 0.7rem;}

/*考试课程-样式表*/
#content .examTab{position: fixed;width: 100%;background: white;min-width: 20rem;max-width: 35rem;}
#content .examTab ul li{float: left;width: 25%;height: 3rem;text-align: center;line-height: 3rem;}
#content .examTab li span{padding: 1rem 0rem 0.8rem 0;color: #666666;}
#content .exam_content{width: 100%;height: 26rem;padding-top: 3rem;overflow: hidden;}
#content .exam_content .examType1{height: 100%;padding: 1rem;}

/*我的学习-样式表*/
#content .learn_head{background: #72B4FD;}
#content .learn_head .mes_me{width: 100%;text-align: center;padding: 1.5rem 0rem 0.2rem 0rem;}
#content .learn_head .mes_me img{width: 5rem;height: 5rem;vertical-align: middle;border-radius: 2.5rem;}
#content .learn_head .name{width: 100%;/*background: blue;*/text-align: center;padding: 0.1rem 0rem;color: white;}
#content .learn_head .learn_state{width: 100%;/* background: blue; */padding-top: 1rem;padding-bottom: 3rem;color: white;font-size: 0.8rem;}
#content .learn_head .learn_state div:nth-child(1){float: left;width: 33%;color: white;text-align: center;}
#content .learn_head .learn_state div:nth-child(2){float: left;width: 33%;color: white;border-left: 1px solid white;border-right: 1px solid white;text-align: center;}
#content .learn_head .learn_state div:nth-child(3){float: left;width: 33%;color: white;text-align: center;}
#content .learn_head .learn_state span{display: block;}
#content .learn_news{border-bottom: 1px solid #E7E7E7;height: 3rem;line-height: 3rem;width: 100%;}
#content .learn_news div{float: left;width: 40%;text-align: center;margin-left: 10%;}
#content .learn_news .type_learning{margin-left: 6%;margin-right: 4%;}
#content .learn_news .type_complete{margin-left: 4%;}
#content .learn_course_ing .vide_me1{height: 10rem; margin: 1rem; margin-bottom: 0; background: #767676;}
#content .learn_course_ing .ic_me_title{height: 2rem;line-height: 2rem;}
#content .learn_course_ing .ic_me_title span:nth-child(1){float: left;padding-left: 1rem;}
#content .learn_course_ing .ic_me_title span:nth-child(2){float: right;padding-right: 1rem;}
#content .learn_course_list .list{padding:3rem;}

/*详细课程的页面*/
#content_big .header{z-index: 999; position: fixed; top: 0%; width: 100%; margin-left: -50%; left: 50%;}
/*点击扩大缩小*/
#content_big .big1{position: fixed;top: 0%;width: 100%;height: 100%;margin-left: -50%;left: 50%}
#content_big #header .iframe_pdf{width: 100%; height: 16rem; border-bottom: 1px solid #3F3F3F;}
#content_big #header .big_small{position: fixed;margin: 2px 2px 3px 0;float: right;right: 26px;min-width: 16px;border: 1px solid transparent;color: hsla(0, 0%, 100%, .8);font-size: 12px;line-height: 26px;background: none;width: 32px;height: 26px;}
#content_big #header .tab{overflow: hidden; background: #ccc; width: 100%; height: 3rem;}
#content_big #header .tab a{display: block;float: left;width: 19%;text-align: center;padding: 0.8rem 0rem;margin: 0 3%;color: #525252; height: 1.2rem;}
#content_big #header .tab a.on{border-bottom: 2px solid #45A8F5;}
#content_big .course-container{margin-top: 19rem; width: 100%; overflow: scroll;}
#content_big .course-container .tabbox{width: 100%;background: #f0f0f0;font-family: '微软雅黑';}
#content_big .course-container .tabbox_zj h3{height: 3rem; line-height: 3rem; padding-left: 1rem;}
#content_big .course-container .tabbox_zj li{list-style: none; height: 3rem; line-height: 3rem; padding-left: 1rem;}
#content_big .course-container .tabbox_zj li{display: block;} 
